{% extends 'base_page.html' %}
{% block title %}First LHC Ltd.{% endblock %}
{% block content %}
<section class="welcome pt-48 pl-2">
	<h1 class="headline w-full lg:w-3/4 xl:w-1/2 font-bold md:pl-16">Driving Innovation in
		Logistics and IT Solutions</h1>
	<h2 class="subheadline w-full lg:w-3/4 xl:w-1/2 md:pl-16">Revolutionizing logistics and
		IT services for efficient, integrated solutions.</h2>
	<button class="get-started block mx-auto md:mr-0 md:ml-16"><a
			href="mailto:edwinmbonyjr@gmail.com">Get Started</a></button>
	<div class="usp">
		<h2 class="usp-h mt-32">Empowering Logistics and IT Excellence</h2>
		<div class="usp-p mt-8">
			<div class="usp-mainp usp-p flex justify-around flex-wrap">
				<div class="">
					<img src="../static/images/excellence.png" alt="" class="">
					<p>
						At First LHC Ltd., our core mission revolves around empowering logistics
						and IT excellence specifically tailored to meet your unique needs and
						challenges. We're not just a company; we're your dedicated partners in the
						pursuit of operational brilliance and digital transformation.
					</p>
				</div>
				<div class="">
					<img src="../static/images/commitment.png" alt="" class="">
					<p>
						Our commitment is unwavering as we work tirelessly to streamline your
						logistics processes,
						modernize your IT infrastructure, and ensure that your digital assets are
						not only secure but also leveraged to their fullest potential.
					</p>
				</div>
				<div class="">
					<img src="../static/images/relationship.png" alt="">
					<p>
						With First LHC Ltd., you're not just engaging a service provider; you're
						forging a
						lasting collaboration that leads to remarkable achievements. Together, we'll
						unlock the full potential of your logistics and IT capabilities, making
						excellence the new standard.
					</p>
				</div>
			</div>
			<div class="supply flex items-center mt-20 w-full sm:w-3/4 xl:w-1/2 mx-auto">
				<img class="usp-img float-left" src="../static/images/containers.jpg" alt>
				<p class="ml-12 usp-p">
					Struggling with supply chain bottlenecks? We have the magic touch. <br>
					Our seasoned experts are here to wave away those obstacles and ensure your supply chain flows seamlessly.
				</p>
			</div>
			<div class="coding flex items-center w-full sm:w-3/4 xl:w-1/2 mx-auto mt-20">
				<p class="usp-p">
					Feeling lost in the digital wilderness? We'll be your guide. <br>
					Our team is ready to lead you through the complexities of the digital landscape, ensuring you navigate with confidence.
				</p>
				<img class="usp-img ml-12" src="../static/images/code.jpg" alt>
			</div>
			<p class="mt-12 usp-p text-center w-4/5 sm:w-3/5 mx-auto font-bold pb-14">
				Our mission is to turn your logistical nightmares into seamless dreams, and
				your IT
				puzzles into innovative solutions. <br> With us, you're not just a client; you're
				our partner in success,
				and together, we'll create something extraordinary.
			</p>
		</div>
	</div>
</section>
<section class="key-benefits">
	<div class="showcase grid grid-cols-1 sm:grid-cols-2 gap-12 text-center pb-10 sm:pt-10 justify-items-center">
		<div class="affordable">
			<img src="../static/images/affordable.png" alt="">
			<h3 class="showcase-head">Affordable!</h3>
			<p class="showcase-text">We provide transportation services and delivery at
				affordable rates for your business.</p>
		</div>
		<div class="tracking">
			<img src="../static/images/fast-delivery.png" alt="">
			<h3 class="showcase-head">Detailed Delivery Tracking</h3>
			<p class="showcase-text">You can easily track your delivery using your unique
				delivery number and ID.</p>
		</div>
		<div class="web-design">
			<img src="../static/images/world-wide-web.png" alt="">
			<h3 class="showcase-head">Website Design</h3>
			<p class="showcase-text">Build interactive and attractive websites for your
				business.</p>
		</div>
		<div class="it-consulting">
			<img src="../static/images/technical-support.png" alt="">
			<h3 class="showcase-head">IT Consulting</h3>
			<p class="showcase-text">Gain industry leading expertise on IT solutions to
				promote business growth and scaling</p>
		</div>
	</div>
</section>
{% endblock %}
