@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Rubik:wght@600&display=swap');
html {
	color: white
}
body {
	font-family: "Cabin", sans-serif;
}
a:hover, div.logo {
	cursor: pointer;
}
nav ul li {
	display: inline-block;
	text-align: center;
	position: relative;
}
span.logo-text {
	font-family: 'Rubik', sans-serif;
	font-weight: bolder;
	font-size: 28px;
	margin-left: 3%;
}
header nav ul a {
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	width: 100%;
	text-decoration: none;
	transition: text-decoration 0.3s ease-in;
}
nav>ul>li>a::after {
	content: "";
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: theme("colors.quad");
	transform-origin: bottom;
	top: 60%;
	opacity: 0;
	transition-property: top, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}
nav>ul>li>a:hover::after {
	top: 0;
	opacity: 1;
}
nav ul li a:hover {
	color: black;
	text-decoration: underline;
	text-underline-offset: 5px;
}
li.active a {
	text-decoration: underline;
	text-underline-offset: 5px;
}
footer {
	text-align: center;
}
footer a {
	display: inline-block;
	padding-bottom: 2px;
	background-image: linear-gradient(white 0 0);
	background-position: bottom left;
	background-size: 0 2px;
	background-repeat: no-repeat;
	transition: background-size 0.3s, background-position 0s 0.3s;
}
footer a:hover {
	background-position: bottom right;
	background-size: 100% 2px;
}
.hamburger {
	cursor: pointer;
	border: solid 1px theme("colors.quad");
	border-radius: 4px;
	padding: 5px;
}
.burger-stroke {
	background-color: theme("colors.quad");
	height: 2px;
	width: 30px;
}
@media (max-width: 640px){
	nav>ul>li {
		z-index: 0;
	}
}
